{% extends "base_layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content_body %}
{{ super() }}
<div class="row">

    <!--Sidebar content-->
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
        </ul>
    </div>

    <!--Body content-->
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-title">
                    <p><h4>Account Delegation Example</h4></p>
                    <p>To be added: sorry started very late in this project</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}